body {
    font-size: 20px;
    overflow-x: hidden;
    /* For Opera */
    -webkit-box-shadow: inset #010e11 0 0 0 5px, inset #0c363f 0 0 0 1px, inset #146577 0 0 0 10px, inset #225b68 0 0 0 11px, inset #1e849b 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
    -moz-box-shadow: inset #010e11 0 0 0 5px, inset #0c363f 0 0 0 1px, inset #146577 0 0 0 10px, inset #225b68 0 0 0 11px, inset #1e849b 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
    box-shadow: inset #010e11 0 0 0 5px, inset #0c363f 0 0 0 1px, inset #146577 0 0 0 10px, inset #225b68 0 0 0 11px, inset #1e849b 0 0 0 16px, inset #88e2f7 0 0 0 17px, inset #c5f4ff 0 0 0 22px, inset #bfecf7 0 0 0 23px;
    background: linear-gradient(270deg, #eaf2f0, #11e3af, #11e3d8, #5c6de3, #262b4f);
    background-size: 1000% 100%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.rotate {
    position: center;
    animation: rotation 30s infinite linear;
}

.object{
    position: absolute;
    /* left: 1000x; */
    top: 160px;
    /* animation:  8s infinite linear;
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; 
    -moz-transition: all 2s ease-in-out; 
    -o-transition: all 2s ease-in-out;
    transform: translate(1000px);
    -webkit-transform: translate(400px);
    -o-transform: translate(1000px);
    -moz-transform: translate(1000px); */   
    -webkit-animation: left-right 10s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: left-right 10s linear infinite; /* Firefox 5-15 */
      -o-animation: left-right 10s linear infinite; /* Opera 12+ */
         animation: left-right 10s linear infinite; /* Chrome, Firefox 16+, 
                                                   IE 10+, Safari 5 */
}

@-webkit-keyframes left-right{
    from{-webkit-transform: translate(-200px);
        -o-transform: translate(-200px);
        -moz-transform: translate(-200px); 
    }
    to{-webkit-transform: translate(500px);
        -o-transform: translate(500px);
        -moz-transform: translate(500px); 
    }


}

#initial-dollar{
    font-size:15px;
    border: 2px solid rgb(42, 10, 94);
    color: navy;
    font-size: 20px;
}

/* #design-exchange-outcome{
    display:none;
    border: 2px solid rgb(42, 10, 94);
    color: navy;
    font-size: 20px;
} */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(350deg);
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.button-icon-exchange {
    content: url(assets/image/money-exchange-icon.png);
}
.button-icon-weather{
    content: url(assets/image/weatherButtonIcon.png);
}

.button-icon-time{
    content: url(assets/image/time-passing.png);
}

.buttonConvertDesign {
    border: 2px solid rgb(42, 10, 94);
    color: navy;
    font-size: 20px;
}

select{
    border: 2px solid rgb(42, 10, 94);
    color: navy;
    font-size: 20px;
}

footer {
    background-color: #262b4f;
    margin: 0;
    margin-bottom: 0;
    padding: 30px;
    width: 100%;
    text-align: center;
    color: #0723f8;
    font-size: small;
}

/* 
.country-city {
    float: left;
    margin: 15px;
}

.weather-temp {
    float: right;
    margin: 25px;
} */